@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Open+Sans&family=Poiret+One&family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 11px;
}

h3 {
  font-weight: 500;
}

section {
  padding: 15px;
  border-radius: 15px;
  margin: 10px;
  background-color: #fff;
}

main {
  border-left: 2px solid rgb(184, 184, 184);
  border-right: 2px solid rgb(184, 184, 184);
  height: 100vh;
}
ul {
  list-style-type: none;
}
#map {
  height: 100%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.col-left,
.col-right {
  background-color: #f1f1f1;
}

.spotlight-section {
  background-image: url("../images/blurr-bg-blue.png");
  background-size: cover;
  color: rgb(255, 255, 255);
}
.refresh-icon {
  width: 25px;
}

.map-location > p,
.latest-prices > p {
  font-size: 14px;
}
.latest-prices {
  background-color: rgb(76, 76, 76);
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.section-title {
  font-size: 16.5px;
}

.latest-prices div {
  padding-right: 40px;
}

.gray {
  color: gray;
}
.logo-section {
  background-color: #f1f1f1;
}
.logo-img {
  width: 150px;
}

.icon {
  width: 50px;
  height: 50px;
}
@media (max-width: 768px) {
  main {
    height: 70vh;
    order: 1;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .col-left {
    order: 2;
  }
  .col-right {
    order: 3;
  }
}

/* CLOCK */

#clock {
  font-size: 20px;
}

#date {
  font-size: 12px;
  color: rgb(91, 91, 91);
}

.nearest-station-item {
  display: flex;
  gap: 10px;
  align-items: center;
  border-top: 1px solid black;
}
.nearest-station-item img {
  width: 40px;
  height: 40px;
}

.spotlight-body img {
  width: 50px;
  height: 50px;
}

/* Utility styles */
.col-2-full {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 10px 0;
}

input[type="text"] {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  line-height: 40px;
  margin-right: 0;
  min-width: 25%;
}

input[type="button"] {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
  margin-left: 5px;
}
input[type="button"]:hover {
  background: rgb(235, 235, 235);
}
input[type="button"].button-primary {
  background-color: #1a73e8;
  color: white;
}
input[type="button"].button-primary:hover {
  background-color: #1765cc;
}
input[type="button"].button-secondary {
  background-color: white;
  color: #1a73e8;
}
input[type="button"].button-secondary:hover {
  background-color: #d2e3fc;
}

#response-container {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  overflow: auto;
  max-height: 50%;
  max-width: 90%;
  background-color: rgba(255, 255, 255, 0.95);
  font-size: small;
}

#instructions {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  padding: 1rem;
  font-size: medium;
}

.about-section > ul {
  font-size: 18px;
}

.github-icon {
  width: 28px;
  height: 28px;
}
