@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Open+Sans&family=Poiret+One&family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

section {
  border-bottom: 2px solid black;
  padding: 10px;
}

main {
  border-left: 2px solid black;
  border-right: 2px solid black;
  height: 100vh;
}
ul {
  list-style-type: none;
}
#map {
  height: 100%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

@media (max-width: 768px) {
  main {
    height: 70vh;
    order: 1;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .col-left {
    order: 2;
  }
  .col-right {
    order: 3;
  }
}

#stationsList > * {
  border-top: 1px solid black;
}
